@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #3b82f6;
  color: white;
}

body {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}

select,
select option {
  color-scheme: light;
}

.dark select,
.dark select option {
  color-scheme: dark;
}
